/*.exe
/*.dll
/*.grf
/*.INI
/*.asi
/*.vxd
/*.sys
/_tmpEmblem
/AI
/AI_sakray
/BGM
/GameGuard
/Replay
/savedata
/ScreenShot
/skin
/*.gpf
/*.dat
/*.des
/*.emz
/licence.txt
/*.manifest
/*.m3d
/*.ini
/*.inf
/patch_allow.txt
/patch2.txt
/register.txt
/data/clientinfo.xml
